<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <command></command><!-- // 1 Files  2 Folders 3 All -->
  <localPath>C:\Users\X\Desktop\</localPath>
  <remotePath>ftp://111.111.66.33</remotePath>
  <remoteSubFolder>outcoming/AR/PE</remoteSubFolder>
  <user>User</user>
  <password>Password</password>
  <newRemoteFolder>prueba</newRemoteFolder>
  <namePattern>PRUEBA*</namePattern>
  <startDate>01/01/2018</startDate>
  <endDate>22/02/2022</endDate>
  <localFilepathtoUpload></localFilepathtoUpload>
  <FolderToRename></FolderToRename>
  <NewRemoteFolderName></NewRemoteFolderName>
  <typePattern>1</typePattern>  <!-- // 1 Files  2 Folders 3 All -->
</configuration>